body {
  /* font-size: clamp(0.875rem, 0.7143rem + 0.7143vw, 1.25rem); */
  margin: 0;
}
/* .background {
  background-image: url("../../static/background-dark.jpeg");
} */

.bot-border {
  border-bottom: 1.4px solid #5e99ff;
}
.border {
  border: 1.4px solid #5e99ff;
}

.absolute {
  position: absolute !important;
}
.relative {
  position: relative !important;
}
.bg-transparent {
  background: transparent !important;
}
.border-left {
  border-left: 1.4px solid #5e99ff;
}
.z-index-1 {
  z-index: 1;
}

.bg_myproccess_img {
  margin-top: -20px;
  right: 0;
}

.bg-gradient {
  padding-top: 50%;
  transition: opacity 0.9s ease-in-out;

  background: linear-gradient(
    180deg,
    rgba(34, 3, 209, 0) 0%,
    rgba(58, 58, 59, 0.9) 70.51%
  );
}

.hero-wlc::before {
  font-size: clamp(3.625rem, 2.9375rem + 3.0556vw, 5.6875rem);
  font-weight: 700;
  content: attr(attr);

  position: absolute;
  transform: translate(0%, 0%);
  opacity: 0.1;
}

.process_list::before {
  font-size: 90px;
  font-weight: 700;
  content: attr(attr);
  position: absolute;
  transform: translate(-50%, -35%);
  opacity: 0.15;
}

.arrow-left::before {
  /* content: "befor";
  transform: translate(-50%); */
}
@media only screen and (max-width: 960px) {
  .process_list::before {
    font-size: 90px;
    font-weight: 700;
    content: attr(attr);
    position: absolute;
    transform: translate(-150%, -35%);
    opacity: 0.15;
  }
}
